In [2]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

In [89]:
para = '''AI involves many different fields like computer science mathematics linguistics psychology neuroscience and philosophy. Eventually researchers hope to create a general artificial intelligence which can solve many problems instead of focusing on just one. Researchers are also trying to create creative and emotional AI which can possibly empathize or create art. Many approaches and tools have been tried.

Borrowing from the management literature Kaplan and Haenlein classify artificial intelligence into three different types of AI systems analytical human-inspired and humanized artificial intelligence. Analytical AI has only characteristics consistent with cognitive intelligence generating cognitive representation of the world and using learning based on past experience to inform future decisions. Human-inspired AI has elements from cognitive as well as emotional intelligence understanding in addition to cognitive elements also human emotions considering them in their decision making. Humanized AI shows characteristics of all types of competencies cognitive emotional and social intelligence able to be self-conscious and self-aware in interactions with others'''

In [90]:
corpus = nltk.sent_tokenize(para)

In [91]:
print(corpus)

['AI involves many different fields like computer science mathematics linguistics psychology neuroscience and philosophy.', 'Eventually researchers hope to create a general artificial intelligence which can solve many problems instead of focusing on just one.', 'Researchers are also trying to create creative and emotional AI which can possibly empathize or create art.', 'Many approaches and tools have been tried.', 'Borrowing from the management literature Kaplan and Haenlein classify artificial intelligence into three different types of AI systems analytical human-inspired and humanized artificial intelligence.', 'Analytical AI has only characteristics consistent with cognitive intelligence generating cognitive representation of the world and using learning based on past experience to inform future decisions.', 'Human-inspired AI has elements from cognitive as well as emotional intelligence understanding in addition to cognitive elements also human emotions considering them in their decision making.', 'Humanized AI shows characteristics of all types of competencies cognitive emotional and social intelligence able to be self-conscious and self-aware in interactions with others']

In [92]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
print(X.shape)

['able', 'addition', 'ai', 'all', 'also', 'analytical', 'and', 'approaches', 'are', 'art', 'artificial', 'as', 'aware', 'based', 'be', 'been', 'borrowing', 'can', 'characteristics', 'classify', 'cognitive', 'competencies', 'computer', 'conscious', 'considering', 'consistent', 'create', 'creative', 'decision', 'decisions', 'different', 'elements', 'emotional', 'emotions', 'empathize', 'eventually', 'experience', 'fields', 'focusing', 'from', 'future', 'general', 'generating', 'haenlein', 'has', 'have', 'hope', 'human', 'humanized', 'in', 'inform', 'inspired', 'instead', 'intelligence', 'interactions', 'into', 'involves', 'just', 'kaplan', 'learning', 'like', 'linguistics', 'literature', 'making', 'management', 'many', 'mathematics', 'neuroscience', 'of', 'on', 'one', 'only', 'or', 'others', 'past', 'philosophy', 'possibly', 'problems', 'psychology', 'representation', 'researchers', 'science', 'self', 'shows', 'social', 'solve', 'systems', 'the', 'their', 'them', 'three', 'to', 'tools', 'tried', 'trying', 'types', 'understanding', 'using', 'well', 'which', 'with', 'world']
(8, 102)

In [93]:
import pandas as pd
vector = X
df = pd.DataFrame(vector.toarray(), columns=vectorizer.get_feature_names())
df

,able,addition,ai,all,also,analytical,and,approaches,are,art,...,tools,tried,trying,types,understanding,using,well,which,with,world
0,0.000000,0.000000,0.145937,0.000000,0.000000,0.000000,0.145937,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.218074,0.000000,0.000000
2,0.000000,0.000000,0.133762,0.000000,0.224335,0.000000,0.133762,0.000000,0.267678,0.267678,...,0.000000,0.000000,0.267678,0.000000,0.000000,0.000000,0.000000,0.224335,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.207983,0.416207,0.000000,0.000000,...,0.416207,0.416207,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.110803,0.000000,0.000000,0.185831,0.221606,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.185831,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.109469,0.000000,0.000000,0.183594,0.109469,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.219065,0.000000,0.000000,0.183594,0.219065
6,0.000000,0.185941,0.092917,0.000000,0.155833,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.185941,0.000000,0.185941,0.000000,0.000000,0.000000
7,0.212984,0.000000,0.106431,0.212984,0.000000,0.000000,0.212861,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.178497,0.000000,0.000000,0.000000,0.000000,0.178497,0.000000

In [94]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\JEYA KUMAR
[nltk_data]     R\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\JEYA KUMAR
[nltk_data]     R\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [95]:
from nltk.corpus import stopwords
print(stopwords.words('english'))
stop_words = set(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [96]:
def get_tokenized_list(doc_text):
    tokens = nltk.word_tokenize(doc_text)
    return tokens

In [97]:
def word_stemmer(token_list):
    ps = nltk.stem.PorterStemmer()
    stemmed = []
    for words in token_list:
        stemmed.append(ps.stem(words))
    return stemmed

In [98]:
def remove_stopwords(doc_text):
    cleaned_text = []
    for words in doc_text:
        if words not in stop_words:
            cleaned_text.append(words)
    return cleaned_text

In [99]:
tokens = get_tokenized_list(corpus[1])
print("WORD TOKENS:")
print(tokens)
doc_text = remove_stopwords(tokens)
print("\nAFTER REMOVING STOPWORDS:")
print(doc_text)
print("\nAFTER PERFORMING THE WORD STEMMING::")
doc_text = word_stemmer(doc_text)
doc_text

WORD TOKENS:
['Eventually', 'researchers', 'hope', 'to', 'create', 'a', 'general', 'artificial', 'intelligence', 'which', 'can', 'solve', 'many', 'problems', 'instead', 'of', 'focusing', 'on', 'just', 'one', '.']

AFTER REMOVING STOPWORDS:
['Eventually', 'researchers', 'hope', 'create', 'general', 'artificial', 'intelligence', 'solve', 'many', 'problems', 'instead', 'focusing', 'one', '.']

AFTER PERFORMING THE WORD STEMMING::

['eventu',
 'research',
 'hope',
 'creat',
 'gener',
 'artifici',
 'intellig',
 'solv',
 'mani',
 'problem',
 'instead',
 'focus',
 'one',
 '.']

In [100]:
doc = ' '.join(doc_text)
doc

'eventu research hope creat gener artifici intellig solv mani problem instead focus one .'

In [101]:
cleaned_corpus = []
for doc in corpus:
    tokens = get_tokenized_list(doc)
    doc_text = remove_stopwords(tokens)
    doc_text  = word_stemmer(doc_text)
    doc_text = ' '.join(doc_text)
    cleaned_corpus.append(doc_text)

In [102]:
cleaned_corpus

['ai involv mani differ field like comput scienc mathemat linguist psycholog neurosci philosophi .',
 'eventu research hope creat gener artifici intellig solv mani problem instead focus one .',
 'research also tri creat creativ emot ai possibl empath creat art .',
 'mani approach tool tri .',
 'borrow manag literatur kaplan haenlein classifi artifici intellig three differ type ai system analyt human-inspir human artifici intellig .',
 'analyt ai characterist consist cognit intellig gener cognit represent world use learn base past experi inform futur decis .',
 'human-inspir ai element cognit well emot intellig understand addit cognit element also human emot consid decis make .',
 'human ai show characterist type compet cognit emot social intellig abl self-consci self-awar interact other']

In [103]:
vectorizerX = TfidfVectorizer()
vectorizerX.fit(cleaned_corpus)
doc_vector = vectorizerX.transform(cleaned_corpus)
print(vectorizerX.get_feature_names())

print(doc_vector.shape)

['abl', 'addit', 'ai', 'also', 'analyt', 'approach', 'art', 'artifici', 'awar', 'base', 'borrow', 'characterist', 'classifi', 'cognit', 'compet', 'comput', 'consci', 'consid', 'consist', 'creat', 'creativ', 'decis', 'differ', 'element', 'emot', 'empath', 'eventu', 'experi', 'field', 'focus', 'futur', 'gener', 'haenlein', 'hope', 'human', 'inform', 'inspir', 'instead', 'intellig', 'interact', 'involv', 'kaplan', 'learn', 'like', 'linguist', 'literatur', 'make', 'manag', 'mani', 'mathemat', 'neurosci', 'one', 'other', 'past', 'philosophi', 'possibl', 'problem', 'psycholog', 'represent', 'research', 'scienc', 'self', 'show', 'social', 'solv', 'system', 'three', 'tool', 'tri', 'type', 'understand', 'use', 'well', 'world']
(8, 74)

In [104]:
df = pd.DataFrame(doc_vector.toarray(), columns=vectorizerX.get_feature_names())
df

,abl,addit,ai,also,analyt,approach,art,artifici,awar,base,...,solv,system,three,tool,tri,type,understand,use,well,world
0,0.000000,0.000000,0.147516,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.256838,0.000000,0.000000,...,0.306461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.160536,0.269239,0.000000,0.000000,0.321257,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.269239,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.556813,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.556813,0.466653,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.120418,0.000000,0.201956,0.000000,0.000000,0.403913,0.000000,0.000000,...,0.000000,0.240975,0.240975,0.000000,0.000000,0.201956,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.127065,0.000000,0.213104,0.000000,0.000000,0.000000,0.000000,0.254277,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.254277,0.000000,0.254277
6,0.000000,0.236044,0.117954,0.197823,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.236044,0.000000,0.236044,0.000000
7,0.253685,0.000000,0.126769,0.000000,0.000000,0.000000,0.000000,0.000000,0.253685,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.212608,0.000000,0.000000,0.000000,0.000000

In [105]:
query = 'computer science'
query = get_tokenized_list(query)
query = remove_stopwords(query)
q = []
for w in word_stemmer(query):
    q.append(w)
q = ' '.join(q)
q
query_vector = vectorizerX.transform([q])

In [106]:
from sklearn.metrics.pairwise import cosine_similarity
cosineSimilarities = cosine_similarity(doc_vector,query_vector).flatten()

In [107]:
related_docs_indices = cosineSimilarities.argsort()[:-10:-1]
print(related_docs_indices)

for i in related_docs_indices:
    data = [cleaned_corpus[i]]
    print(data)

[0 7 6 5 4 3 2 1]
['ai involv mani differ field like comput scienc mathemat linguist psycholog neurosci philosophi .']
['human ai show characterist type compet cognit emot social intellig abl self-consci self-awar interact other']
['human-inspir ai element cognit well emot intellig understand addit cognit element also human emot consid decis make .']
['analyt ai characterist consist cognit intellig gener cognit represent world use learn base past experi inform futur decis .']
['borrow manag literatur kaplan haenlein classifi artifici intellig three differ type ai system analyt human-inspir human artifici intellig .']
['mani approach tool tri .']
['research also tri creat creativ emot ai possibl empath creat art .']
['eventu research hope creat gener artifici intellig solv mani problem instead focus one .']